- 
  var options = [
    {
      icon: 'click',
      text: 'Different theme option',
      class: 'option option--dark'
    },
    {
      icon: 'diamond',
      text: 'Fully customizable',
      class: 'option'
    },
    {
      icon: 'lamp',
      text: 'Unlimited support',
      class: 'option option--dark'
    },
    {
      icon: 'devices',
      text: 'Responsive all device',
      class: 'option'
    }
  ]

section.section.section--options
  .row.no-gutters
    each option in options
      .col-3
        div(class=option.class)
          +icon(option.icon)
          span.option__text= option.text