- 
  var options = [
    {
      icon: 'click',
      text: 'Different theme option',
      class: 'option--dark'
    },
    {
      icon: 'diamond',
      text: 'Fully customizable'
    },
    {
      icon: 'lamp',
      text: 'Unlimited support',
      class: 'option--dark'
    },
    {
      icon: 'devices',
      text: 'Responsive all device'
    }
  ]

section.section.section--options
  .row.no-gutters
    each option in options
      .col-sm-6.col-lg-3
        +option({
          class: option.class,
          icon: option.icon,
          text: option.text
        })