- 
  var menuItems = [
    {
      text: 'home',
      url: '/'
    },
    {
      text: 'about',
      url: '/'
    },
    {
      text: 'skills',
      url: '/'
    },
    {
      text: 'service',
      url: '/'
    },
    {
      text: 'work',
      url: '/'
    },
    {
      text: 'testimonial',
      url: '/'
    },
    {
      text: 'blog',
      url: '/'
    },
    {
      text: 'team',
      url: '/'
    },
    {
      text: 'contact',
      url: '/'
    }
  ]

header.header
  .container.h-100
    .row.align-items-center.justify-content-between.no-gutters.h-100
      .header__logo
        a(href="/")
          img(src="/assets/img/logo.png", alt="Logo")
      nav.header__nav.ml-auto.h-100
        +menu({
          class: "menu--header h-100",
          items: menuItems
        })
      .header__search
        .search__icon(data-role="activator", data-href="#search")
          +icon('search')
        form(action="/", method="GET", class="search__form", id="search")
          input(type="text", class="input input--search", name="search", placeholder="Type and search...")
          button(type="submit")
            +icon('search')

          

  
    