section.section.section--banner
  .container.h-100
    .row.flex-column.align-items-center.justify-content-center.no-gutters.h-100
      h3.banner__subheading.text-uppercase The ham is #[span wordpress theme]
      h1.banner__heading.text-uppercase We are creative
      span.banner__excerpt Just buy and enjoy these awesome features
      .banner__buttons.d-flex
        +button({
          text: 'explore now',
          link: '/',
          class: 'button--head'
        })
        +button({
          text: 'purchase now',
          link: '/',
          class: 'button--head button--skyblue'
        })