mixin button(button = {})
  include ../components/button/index

mixin menu(menu = {})
  include ../components/menu/index

mixin filters(filters = {})
  include ../components/filters/index

mixin work(work = {})
  include ../components/work/index

mixin post(post = {})
  include ../components/post/index

mixin option(option = {})
  include ../components/option/index

mixin feature(feature = {})
  include ../components/feature/index

mixin fact(fact = {})
  include ../components/fact/index

mixin subscribe(subscribe = {})
  include ../components/subscribe/index

mixin feedback(feedback = {})
  include ../components/feedback/index
  
mixin member(member = {})
  include ../components/member/index