mixin button(button = {})
  include ../components/button/index

mixin menu(menu = {})
  include ../components/menu/index

mixin filters(filters = {})
  include ../components/filters/index

mixin work(work = {})
  include ../components/work/index

mixin post(post = {})
  include ../components/post/index

mixin option(option = {})
  include ../components/option/index

mixin fact(fact = {})
  include ../components/fact/index