- var clsx = ['fact']

if (fact.class)
  - clsx = [...clsx, fact.class]

div(class=clsx)
  .fact__icon
    .inner
      +icon(fact.icon)
  span.fact__count(data-count=fact.count)= 1
  span.fact__name= fact.name