- var target = button.target ? button.target : '_self'
- var clsx = ['button']

if (button.class)
  - clsx = [...clsx, button.class]

if (button.icon)
  - clsx = [...clsx, 'button--icon']

if (button.link)
  - clsx = [...clsx, 'button--link']

mixin buttonInner(btn = {})
  if (btn.icon)
    +icon(btn.icon)
    
  =btn.text

if (button.link)
  a(href=button.link, class=clsx, target=target)
    +buttonInner(button)
else
  button(class=clsx)
    +buttonInner(button)