.button
  position: relative

  display: flex
  align-items: center
  justify-content: center

  height: 60px
  min-width: 165px

  padding-left: 10px
  padding-right: 10px

  outline: none !important

  color: #fff
  background-color: $color--primary

  cursor: pointer

  font-size: 13px
  font-weight: bold
  text-transform: uppercase

  border-radius: 4px

  overflow: hidden
  vertical-align: middle

  transition: background-color $transition--button

  &:hover
    background-color: darken($color--primary, 10%)

  &--link
    &:hover
      color: #fff

  &--icon
    .icon
      width: 15px
      height: 15px
      
      margin-right: 10px

  &--head
    border-top: 5px solid #fff

  &--skyblue
    background-color: $color--skyblue

    &:hover
      background-color: darken($color--skyblue, 10%)