.subscribe
  position: relative

  display: flex
  flex-direction: column

  border: 1px solid #e6e6e7
  border-radius: 5px

  background-color: #f8fcfe

  @media screen and (max-width: $breakpoint--sm)
    max-width: 300px

    margin: 0 auto 20px auto

  &__name
    display: flex
    align-items: center
    justify-content: center

    height: 60px

    font-size: 24px
    font-weight: bold
    text-transform: uppercase

    @media screen and (max-width: $breakpoint--sm)
      height: 50px

      font-size: 20px

  &__price
    display: flex
    align-items: flex-end
    justify-content: center

    padding: 25px 0

    color: #fff
    background-color: $color--darkblue

    @media screen and (max-width: $breakpoint--sm)
      padding: 15px 0

    span:nth-child(1)
      font-size: 40px
      font-weight: bold
      line-height: 1

      @media screen and (max-width: $breakpoint--sm)
        font-size: 32px

  &__details
    display: flex
    flex-direction: column

    .detail
      display: flex
      align-items: center
      justify-content: center

      font-weight: 600

      height: 45px

      outline: 1px solid #e6e6e7

  &__purchase
    display: flex
    align-items: center
    justify-content: center

    height: 100px

    .button
      width: 170px
      height: 50px

      @media screen and (max-width: $breakpoint--sm)
        width: 140px
        height: 40px

  .offer
    position: absolute
    top: 0
    right: 0
    z-index: 2

    clip-path: polygon(25px 0, calc(100% - 25px) 0, 100% 100%, 0% 100%)

    transform: translate(22px, 9px) rotate(45deg)

    display: flex
    align-items: center
    justify-content: center

    text-transform: uppercase

    width: 85px
    height: 25px

    color: #fff
    background-color: $color--primary

  &--offer
    z-index: 2

    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .2)

    .subscribe__name
      color: $color--primary

    .subscribe__price
      background-color: $color--primary