- 
  var feedbacks = [
    {
      author: {
        name: 'Hasan Ali',
        specialization: 'UX Designer',
        image: '/assets/img/work.jpg'
      },
      text: 'Integer dignissim, augue tempus ultricies luctus, quam dui laoreet sem, non dictum odio nisi quis massa. Morbi pulvinar odio eget aliquam facilisis. Tempus ultricies luctus, quam dui laoreet sem, non dictum odio nisi quis massa. Morbi pulvinar odio eget aliquam facilisis.'
    },
    {
      author: {
        name: 'Hasan Ali',
        specialization: 'UX Designer',
        image: '/assets/img/work.jpg'
      },
      text: 'Integer dignissim, augue tempus ultricies luctus, quam dui laoreet sem, non dictum odio nisi quis massa. Morbi pulvinar odio eget aliquam facilisis. Tempus ultricies luctus, quam dui laoreet sem, non dictum odio nisi quis massa. Morbi pulvinar odio eget aliquam facilisis.'
    },
    {
      author: {
        name: 'Hasan Ali',
        specialization: 'UX Designer',
        image: '/assets/img/work.jpg'
      },
      text: 'Integer dignissim, augue tempus ultricies luctus, quam dui laoreet sem, non dictum odio nisi quis massa. Morbi pulvinar odio eget aliquam facilisis. Tempus ultricies luctus, quam dui laoreet sem, non dictum odio nisi quis massa. Morbi pulvinar odio eget aliquam facilisis.'
    },
    {
      author: {
        name: 'Hasan Ali',
        specialization: 'UX Designer',
        image: '/assets/img/work.jpg'
      },
      text: 'Integer dignissim, augue tempus ultricies luctus, quam dui laoreet sem, non dictum odio nisi quis massa. Morbi pulvinar odio eget aliquam facilisis. Tempus ultricies luctus, quam dui laoreet sem, non dictum odio nisi quis massa. Morbi pulvinar odio eget aliquam facilisis.'
    }
  ]

section.section.section--feedback
  .container
    h2.section__heading What People Say About theHam
    .section__inner
      .slider.slider--feedbacks
        .slider__items#slider-feedbacks
          each feedback in feedbacks
            .slider__item
              +feedback(feedback)
        .slider__tools
          .button.prev
            +icon('arrow-left')
          .slider__dots
          .button.next
            +icon('arrow-right')
      
