section.section.section--work
  .container
    h2.section__heading Our amazing work
    .section__inner
      +filters({
        class: 'filters--work',
        items: [
          {
            text: 'All',
            dataFilter: '*',
            class: 'active'
          },
          {
            text: 'Graphic design',
            dataFilter: '.work--gd'
          },
          {
            text: 'Web design',
            dataFilter: '.work--wd'
          },
          {
            text: 'Landing pages',
            dataFilter: '.work--lp'
          },
          {
            text: 'Wordpress',
            dataFilter: '.work--wp'
          },
        ]
      })
      #works.works
        each i in Array(3)
          +work({
            title: 'Creative design',
            subtitle: 'Web design',
            links: ['/', '/'],
            image: '/assets/img/work.jpg',
            class: 'work--gd'
          })
        each i in Array(3)
          +work({
            title: 'Creative design',
            subtitle: 'Web design',
            links: ['/', '/'],
            image: '/assets/img/work.jpg',
            class: 'work--wd'
          })
        each i in Array(3)
          +work({
            title: 'Creative design',
            subtitle: 'Web design',
            links: ['/', '/'],
            image: '/assets/img/work.jpg',
            class: 'work--lp'
          })
        each i in Array(3)
          +work({
            title: 'Creative design',
            subtitle: 'Web design',
            links: ['/', '/'],
            image: '/assets/img/work.jpg',
            class: 'work--wp'
          })
      .row.justify-content-center
        .col-auto
          +button({
            text: 'Load more',
            link: '/',
            icon: 'add'
          })