-
  var works = [
    {
      title: 'Creative design',
      subtitle: 'Web design',
      links: ['/', '/'],
      image: '/assets/img/works/gd.jpg',
      class: 'work--gd'
    },
    {
      title: 'Creative design',
      subtitle: 'Web design',
      links: ['/', '/'],
      image: '/assets/img/works/wd.jpg',
      class: 'work--wd'
    },
    {
      title: 'Creative design',
      subtitle: 'Web design',
      links: ['/', '/'],
      image: '/assets/img/works/lp.jpg',
      class: 'work--lp'
    },
    {
      title: 'Creative design',
      subtitle: 'Web design',
      links: ['/', '/'],
      image: '/assets/img/works/wp.jpg',
      class: 'work--wp'
    },
    {
      title: 'Creative design',
      subtitle: 'Web design',
      links: ['/', '/'],
      image: '/assets/img/works/gd.jpg',
      class: 'work--gd'
    },
    {
      title: 'Creative design',
      subtitle: 'Web design',
      links: ['/', '/'],
      image: '/assets/img/works/wd.jpg',
      class: 'work--wd'
    },
    {
      title: 'Creative design',
      subtitle: 'Web design',
      links: ['/', '/'],
      image: '/assets/img/works/lp.jpg',
      class: 'work--lp'
    },
    {
      title: 'Creative design',
      subtitle: 'Web design',
      links: ['/', '/'],
      image: '/assets/img/works/wp.jpg',
      class: 'work--wp'
    },
    {
      title: 'Creative design',
      subtitle: 'Web design',
      links: ['/', '/'],
      image: '/assets/img/works/gd.jpg',
      class: 'work--gd'
    },
    {
      title: 'Creative design',
      subtitle: 'Web design',
      links: ['/', '/'],
      image: '/assets/img/works/wd.jpg',
      class: 'work--wd'
    },
    {
      title: 'Creative design',
      subtitle: 'Web design',
      links: ['/', '/'],
      image: '/assets/img/works/lp.jpg',
      class: 'work--lp'
    },
    {
      title: 'Creative design',
      subtitle: 'Web design',
      links: ['/', '/'],
      image: '/assets/img/works/wp.jpg',
      class: 'work--wp'
    }
  ]

section.section.section--work
  .container
    h2.section__heading Our amazing work
    .section__inner
      +filters({
        class: 'filters--work',
        items: [
          {
            text: 'All',
            dataFilter: '*',
            class: 'active'
          },
          {
            text: 'Graphic design',
            dataFilter: '.work--gd'
          },
          {
            text: 'Web design',
            dataFilter: '.work--wd'
          },
          {
            text: 'Landing pages',
            dataFilter: '.work--lp'
          },
          {
            text: 'Wordpress',
            dataFilter: '.work--wp'
          },
        ]
      })
      #works.works
        each work in works
          +work({
              title: work.title,
              subtitle: work.subtitle,
              links: work.links,
              image: work.image,
              class: work.class
          })
      .row.justify-content-center
        .col-auto
          +button({
            text: 'Load more',
            link: '/',
            icon: 'add'
          })