section.section.section--purchase
  .container
    .section__inner
      h2 Everything is ready. Just buy and install now
      p Smooth reliable, responsive ready, perfect portfolio, unique blog layout and many many options for you
      +button({
        text: 'Purchase now',
        link: '/',
        class: 'button--head'
      })