section.section.section--news
  .container
    h2.section__heading Breaking news
    .section__inner
      .row
        each i in Array(8)
          .col-sm-6.col-md-4.col-lg-3
            a(href="/")
              +post({
                title: 'Amazing image post',
                thumbnail: '/assets/img/work.jpg',
                author: 'admin',
                commentsCount: 2
              })