- 
  var skills = [
    {
      id: 'skill-ui',
      name: 'User interface'
    },
    {
      id: 'skill-wd',
      name: 'Web design'
    },
    {
      id: 'skill-wp',
      name: 'Wordpress'
    },
    {
      id: 'skill-hc',
      name: 'Html & css'
    },
    {
      id: 'skill-ad',
      name: 'App design'
    }
  ]

  var history = [
    "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incid idunt ut labore et dolore magna aliqua. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
  ]

  var biography = [
    "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nec odio ipsum Suspendisse cursus malesuada facilisis. Nunc con sectetur odio sed dolor tincidunt porttitor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibu lum nec odio ipsum. Sus pendisse cursus malesua da facilisis. Vestibulum nec odio ipsum.",
    "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nec odio ipsum Suspendisse cursus malesuada facilisis. Nunc con sectetur odio sed dolor tincidunt porttitor. Lorem ipsum dolor sit amet, consectetur adipiscing elit."
  ]

section#about.section.section--about
  .container
    h2.section__heading About our company
    .section__inner
      .row.justify-content-center.no-gutters
        .about
          ul.tabs.tabs--about(id="tabs-about")
            li.tab(data-st-role="tab", data-st-href="#history") Our history
            li.tab(data-st-role="tab", data-st-href="#biography") Our biography
            li.tab.active(data-st-role="tab", data-st-href="#skills") Our skills
          .about__content
            .area.area--history(id="history", data-st-role="area")
              each paragraph in history
                p= paragraph
              .row.row--advantages.justify-content-between.mt-4
                each i in Array(8)
                  .col-sm-6.col--advantage
                    .advantage
                      +icon('checked')
                      span.advantage__text Excepteur sint occaecat sint.
            .area.area--biography(id="biography", data-st-role="area")
              each paragraph in biography
                p= paragraph
            .area.area--skills.active(id="skills", data-st-role="area")
              each skill in skills
                .skill(id=skill.id)
                  .skill__bar
                  .skill__name= skill.name
