.section--features
  padding: 80px 0 20px 0px

  .row--features
    margin-left: -35px
    margin-right: -35px

    .col--feature
      padding-left: 35px
      padding-right: 35px

    .feature
      margin-bottom: 60px