section.section.section--services
  .container
    h2.section__heading Our services
    .section__inner
      .services
        ul.tabs.tabs--services(id="tabs-services")
          li.tab.active(data-st-role="tab" data-st-href="#wd") Web design
          li.tab(data-st-role="tab", data-st-href="#gd") Graphic design
          li.tab(data-st-role="tab", data-st-href="#os") Online support
          li.tab(data-st-role="tab", data-st-href="#ad") App design
          li.tab(data-st-role="tab", data-st-href="#om") Online marketing
          li.tab(data-st-role="tab", data-st-href="#ss") Seo service
        .services__content
          each areaID, index in ['wd', 'gd', 'os', 'ad', 'om', 'ss']
            - var areaClass = index === 0 ? 'active' : false;
            .area(id=areaID, class=areaClass, data-st-role="area")
              .area__thumbnail
                img.lazy(src=placeholder, data-src="/assets/img/work.jpg", alt="Work")
              p.area__text.
                #{'#' + (index + 1)} Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adip isicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            
          