extends layouts/main

block variables
  - docTitle = "theHam - Home"

block content
  #wrapper.wrapper
    include includes/sections/header/index
    main.main
      include includes/sections/banner/index
      include includes/sections/options/index
      include includes/sections/features/index
      include includes/sections/about/index
      include includes/sections/work/index
    //-   include includes/sections/services/index
    //-   include includes/sections/purchase/index
    //-   include includes/sections/news/index
    //-   include includes/sections/facts/index
    //-   include includes/sections/pricing/index
    //-   include includes/sections/feedback/index
    //-   include includes/sections/team/index
    //-   include includes/sections/contact/index
    //- include includes/sections/footer/index

block footerScripts
  +script('https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js')