extends layouts/main

block variables
  - docTitle = "theHam - Home"

block content
  #wrapper.wrapper
    include includes/parts/header/index
    main.main
      include includes/sections/banner/index