- var placeholder = 'https://icon-library.com/images/photo-placeholder-icon/photo-placeholder-icon-6.jpg'

block variables
  
include ../includes/mixins/index

doctype
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="description", content="theHam landing page")

    title= docTitle

    +style('https://fonts.gstatic.com', 'preconnect')
    +style('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap')
    +style('https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css', 'stylesheet', 'sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm', 'anonymous')
    +style('//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css')
    +assets('css', 'style')
  
    block headerStyles

    block headerScripts
  body

    block content

    +script('https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js')
    +script('https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js')
    +script('https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js')
    +script('//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js')
    +script('https://api-maps.yandex.ru/2.1/?lang=ru_RU&amp;apikey=90595d12-fe44-405d-87ab-cb746cd69a1b')
    
    block footerScripts
    
    +assets('js', 'script')