- var placeholder = 'https://icon-library.com/images/photo-placeholder-icon/photo-placeholder-icon-6.jpg'

block variables
  
include ../includes/mixins/index

doctype
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="description", content="theHam landing page")

    title= docTitle

    +style('https://fonts.gstatic.com', 'preconnect')
    +style('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap')
    +style('https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css', 'stylesheet', 'sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm', 'anonymous')
    +style('https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css')
    +assets('css', 'style')
  
    block headerStyles

    block headerScripts
  body

    div.svg-defs
      svg(xmlns='http://www.w3.org/2000/svg')
        symbol#icon-document(viewBox='0 0 512 512', fill='currentColor')
          path(d='m446.605 124.392-119.997-119.997c-2.801-2.802-6.624-4.395-10.608-4.395h-210c-24.813 0-45 20.187-45 45v422c0 24.813 20.187 45 45 45h300c24.813 0 45-20.187 45-45v-332c0-4.09-1.717-7.931-4.395-10.608zm-115.605-73.179 68.787 68.787h-53.787c-8.271 0-15-6.729-15-15zm75 430.787h-300c-8.271 0-15-6.729-15-15v-422c0-8.271 6.729-15 15-15h195v75c0 24.813 20.187 45 45 45h75v317c0 8.271-6.729 15-15 15z')
          path(d='m346 212h-180c-8.284 0-15 6.716-15 15s6.716 15 15 15h180c8.284 0 15-6.716 15-15s-6.716-15-15-15z')
          path(d='m346 272h-180c-8.284 0-15 6.716-15 15s6.716 15 15 15h180c8.284 0 15-6.716 15-15s-6.716-15-15-15z')
          path(d='m346 332h-180c-8.284 0-15 6.716-15 15s6.716 15 15 15h180c8.284 0 15-6.716 15-15s-6.716-15-15-15z')
          path(d='m286 392h-120c-8.284 0-15 6.716-15 15s6.716 15 15 15h120c8.284 0 15-6.716 15-15s-6.716-15-15-15z')
        symbol#icon-search(viewBox='0 0 515.558 515.558', fill='currentColor')
          path(d='m378.344 332.78c25.37-34.645 40.545-77.2 40.545-123.333 0-115.484-93.961-209.445-209.445-209.445s-209.444 93.961-209.444 209.445 93.961 209.445 209.445 209.445c46.133 0 88.692-15.177 123.337-40.547l137.212 137.212 45.564-45.564c0-.001-137.214-137.213-137.214-137.213zm-168.899 21.667c-79.958 0-145-65.042-145-145s65.042-145 145-145 145 65.042 145 145-65.043 145-145 145z')
        symbol#icon-click(viewBox='-73 0 511 512', fill='currentColor')
          path(d='m141.550781 0c-65.144531 0-115.128906 58.84375-103.957031 123.554688 1.414062 8.1875 9.199219 13.640624 17.332031 12.230468 8.164063-1.410156 13.640625-9.167968 12.230469-17.332031-7.988281-46.289063 27.71875-88.453125 74.394531-88.453125 46.535157 0 82.308594 41.964844 74.429688 88.269531-1.390625 8.167969 4.105469 15.914063 12.269531 17.304688 8.167969 1.394531 15.914062-4.105469 17.304688-12.273438 10.964843-64.449219-38.78125-123.300781-104.003907-123.300781zm0 0')
          path(d='m301.171875 240.632812c-11.324219-22.21875-38.207031-30.773437-60-20-10.273437-20.15625-33.742187-29.484374-54.839844-22.160156v-91.851562c0-24.484375-19.675781-44.941406-43.867187-45.605469-25.347656-.71875-46.351563 19.582031-46.351563 44.984375v231.082031l-17.621093-18.453125c-16.914063-17.707031-45.234376-18.953125-63.136719-2.769531-18.890625 17.074219-19.832031 46.148437-2.4375 64.421875l101.273437 108.019531c14.125 15.058594 34.066406 23.699219 54.714844 23.699219h122.144531c41.355469 0 75-33.644531 75-75v-156c0-33.332031-35.160156-55.0625-64.878906-40.367188zm0 0')
        symbol#icon-diamond(viewBox='0 0 512 512', fill='currentColor')
          g
            g
              polygon(points='376.822,153.145 281.402,455.309 512,153.145 		')
          g
            g
              polygon(points='74.336,46.263 1.082,134.168 125.614,134.168 		')
          g
            g
              polygon(points='437.664,46.263 386.386,134.168 510.918,134.168 		')
          g
            g
              polygon(points='135.178,153.145 0,153.145 230.598,455.309 		')
          g
            g
              polygon(points='278.906,39.279 367.874,128.247 419.768,39.279 		')
          g
            g
              polygon(points='92.232,39.279 144.126,128.247 233.094,39.279 		')
          g
            g
              polygon(points='155.076,153.145 256,472.721 356.924,153.145 		')
          g
            g
              polygon(points='256,43.208 165.04,134.168 346.96,134.168 		')
        symbol#icon-lamp(viewBox='0 0 512 512', fill='currentColor')
          g#Idea_1_
            g
              path(d='m256 61c-8.291 0-15-6.709-15-15v-31c0-8.291 6.709-15 15-15s15 6.709 15 15v31c0 8.291-6.709 15-15 15z')
            g
              path(d='m398.896 143.5c-4.146-7.178-1.685-16.348 5.493-20.493l25.972-15c7.148-4.175 16.333-1.714 20.493 5.493 4.146 7.178 1.685 16.348-5.493 20.493l-25.972 15c-7.153 4.132-16.345 1.691-20.493-5.493z')
            g
              path(d='m61.146 338.5c-4.146-7.178-1.685-16.348 5.493-20.493l25.972-15c7.119-4.16 16.333-1.699 20.493 5.493 4.146 7.178 1.685 16.348-5.493 20.493l-25.972 15c-7.152 4.132-16.344 1.691-20.493-5.493z')
            g
              path(d='m338.5 83.104c-7.178-4.146-9.639-13.315-5.493-20.493l15-25.972c4.146-7.222 13.315-9.653 20.493-5.493 7.178 4.146 9.639 13.315 5.493 20.493l-15 25.972c-4.156 7.197-13.354 9.617-20.493 5.493z')
            g
              path(d='m153.007 77.611-15-25.972c-4.146-7.178-1.685-16.348 5.493-20.493 7.134-4.16 16.348-1.729 20.493 5.493l15 25.972c4.146 7.178 1.685 16.348-5.493 20.493-7.153 4.132-16.344 1.691-20.493-5.493z')
            g
              path(d='m430.36 343.993-25.972-15c-7.178-4.146-9.639-13.315-5.493-20.493 4.146-7.192 13.33-9.653 20.493-5.493l25.972 15c7.178 4.146 9.639 13.315 5.493 20.493-4.156 7.197-13.354 9.617-20.493 5.493z')
            g
              path(d='m92.611 148.993-25.972-15c-7.178-4.146-9.639-13.315-5.493-20.493 4.131-7.207 13.301-9.668 20.493-5.493l25.972 15c7.178 4.146 9.639 13.315 5.493 20.493-4.156 7.197-13.354 9.617-20.493 5.493z')
            g
              path(d='m466 241h-30c-8.291 0-15-6.709-15-15s6.709-15 15-15h30c8.291 0 15 6.709 15 15s-6.709 15-15 15z')
            g
              path(d='m76 241h-30c-8.291 0-15-6.709-15-15s6.709-15 15-15h30c8.291 0 15 6.709 15 15s-6.709 15-15 15z')
            g
              path(d='m256 512c33.091 0 60-26.909 60-60h-119.899c.542 33.721 26.603 60 59.899 60z')
              path(d='m256 91.016c-83.974-.151-126.505 69.091-133.359 113.685-5.449 35.464 2.871 70.825 23.438 99.565 27.391 38.269 42.955 77.437 47.748 116.733h124.222c4.548-40.505 19.649-79.459 45.632-113.687 17.871-23.568 27.319-51.678 27.319-81.312 0-56.639-44.23-134.821-135-134.984zm40.605 145.589-25.605 25.606v53.789c0 8.291-6.709 15-15 15s-15-6.709-15-15v-53.789l-25.605-25.605c-5.859-5.859-5.859-15.352 0-21.211s15.352-5.859 21.211 0l19.394 19.394 19.395-19.395c5.859-5.859 15.352-5.859 21.211 0s5.859 15.352-.001 21.211z')
        symbol#icon-devices(viewBox='0 0 480 480', fill='currentColor')
          g
            g
              path(d='M456,240h-8V72c-0.026-22.08-17.92-39.974-40-40H72c-22.08,0.026-39.974,17.92-40,40v120h-8c-13.255,0-24,10.745-24,24\
              v208c0,13.255,10.745,24,24,24h304c4.418,0,8-3.582,8-8c-0.026-22.08-17.92-39.974-40-40h-24v-48h96v72c0,13.255,10.745,24,24,24\
              h64c13.255,0,24-10.745,24-24V264C480,250.745,469.255,240,456,240z M176,424c0,4.418-3.582,8-8,8H24c-4.418,0-8-3.582-8-8v-8h160\
              V424z M176,400H16V216c0-4.418,3.582-8,8-8h144c4.418,0,8,3.582,8,8V400z M296,416c10.168,0.012,19.229,6.418,22.632,16H190.528\
              c0.948-2.562,1.445-5.268,1.472-8v-8H296z M192,400v-48h16v48H192z M224,400v-48h32v48H224z M368,336H192v-48h176V336z M368,264v8\
              H192v-56c-0.027-3.796-0.966-7.53-2.736-10.888c0.12-0.112,0.28-0.144,0.392-0.264l79.2-79.2c3.07-3.178,2.982-8.243-0.196-11.312\
              c-3.1-2.994-8.015-2.994-11.116,0l-79.2,79.2c-0.192,0.2-0.272,0.456-0.44,0.664c-3.104-1.44-6.483-2.19-9.904-2.2H48V72\
              c0-13.255,10.745-24,24-24h336c13.255,0,24,10.745,24,24v168h-40C378.745,240,368,250.745,368,264z M464,424c0,4.418-3.582,8-8,8\
              h-64c-4.418,0-8-3.582-8-8v-8h80V424z M464,400h-80V264c0-4.418,3.582-8,8-8h64c4.418,0,8,3.582,8,8V400z')
          g
            g
              path(d='M95.592,289.376c-3.124-3.123-8.188-3.123-11.312,0l-33.936,33.936c-3.178,3.07-3.266,8.134-0.196,11.312\
              c3.07,3.178,8.134,3.266,11.312,0.196c0.067-0.064,0.132-0.13,0.196-0.196l33.936-33.936\
              C97.02,298.213,94.15,293.508,95.592,289.376z')
          g
            g
              path(d='M143.396,289.376c-3.1-2.994-8.015-2.994-11.116,0l-33.936,33.936c-3.178,3.069-3.266,8.134-0.196,11.312\
              c3.069,3.178,8.134,3.266,11.312,0.196c0.067-0.064,0.132-0.13,0.196-0.196l33.936-33.936\
              C146.661,297.51,146.574,292.445,143.396,289.376z')
          g
            g
              path(d='M317.46,114.344c-3.1-2.994-8.015-2.994-11.116,0l-79.2,79.2c-3.178,3.069-3.266,8.134-0.197,11.312\
              c3.069,3.178,8.134,3.266,11.312,0.197c0.067-0.064,0.132-0.13,0.197-0.197l79.2-79.2\
              C320.726,122.478,320.638,117.413,317.46,114.344z')
          g
            g
              path(d='M440.772,311.032c-3.1-2.995-8.016-2.995-11.116,0l-22.624,22.624c-3.178,3.07-3.266,8.134-0.196,11.312\
              c3.07,3.178,8.134,3.266,11.312,0.196c0.066-0.064,0.132-0.13,0.196-0.196l22.624-22.624\
              C444.038,319.166,443.95,314.102,440.772,311.032z')
          g
            g
              path(d='M240.16,304h-0.08c-4.418,0.022-7.982,3.622-7.96,8.04s3.622,7.982,8.04,7.96c4.418,0,8-3.582,8-8S244.578,304,240.16,304\
              z')
          g
            g
              path(d='M256,64h-32c-4.418,0-8,3.582-8,8s3.582,8,8,8h32c4.418,0,8-3.582,8-8S260.418,64,256,64z')
        symbol#icon-leaf(viewBox='0 0 551.391 551.391', fill='currentColor')
          g
            path(d='M413.695,0c0,0-45.366,44.014-94.43,61.759C-44.068,193.178,109.165,449.277,114.164,450.121\
            c0,0,20.374-35.48,47.896-55.717c174.644-128.389,210.14-276.171,210.14-276.171s-39.19,177.829-194.562,288.479\
            c-34.316,24.426-57.552,84.568-67.388,144.679c0,0,24.325-9.828,34.785-12.49c4.079-26.618,12.607-52.106,27.025-74.875\
            c217.151,25.854,288.272-149.123,297.563-210.136C491.552,109.79,413.695,0,413.695,0z')
        symbol#icon-edit(viewBox='0 0 24 24', fill='currentColor')
          path(d='m19 12c-.553 0-1 .448-1 1v8c0 .551-.448 1-1 1h-14c-.552 0-1-.449-1-1v-14c0-.551.448-1 1-1h8c.553 0 1-.448 1-1s-.447-1-1-1h-8c-1.654 0-3 1.346-3 3v14c0 1.654 1.346 3 3 3h14c1.654 0 3-1.346 3-3v-8c0-.553-.447-1-1-1z')
          path(d='m9.376 11.089c-.07.07-.117.159-.137.255l-.707 3.536c-.033.164.019.333.137.452.095.095.223.146.354.146.032 0 .065-.003.098-.01l3.535-.707c.098-.02.187-.067.256-.137l7.912-7.912-3.535-3.535z')
          path(d='m23.268.732c-.975-.975-2.561-.975-3.535 0l-1.384 1.384 3.535 3.535 1.384-1.384c.472-.471.732-1.099.732-1.767s-.26-1.296-.732-1.768z')
        symbol#icon-sandtime(viewBox='0 0 512 512', fill='currentColor')
          g#Solid
            path(d='M256,352c-3.252,9.918-14.97,18.725-32.711,24.246-45.054,14.02-72.928,34.02-78.326,55.754H367.037c-5.4-21.734-33.272-41.734-78.326-55.754C270.97,370.725,259.252,361.918,256,352Z')
            path(d='M160.1,128c13.43,25.58,34.93,48.48,63.19,66.55A72.525,72.525,0,0,1,256,244.36a72.525,72.525,0,0,1,32.71-49.81c28.26-18.07,49.76-40.97,63.19-66.55Z')
            path(d='M305.949,221.507C363.206,184.9,400,127.959,400,64h0a16,16,0,0,0,16-16V24H96V47a16.985,16.985,0,0,0,16,16.949V64c0,63.959,36.794,120.9,94.051,157.507,25.159,16.086,25.159,52.9,0,68.986C148.794,327.1,112,384.041,112,448v.051A16.985,16.985,0,0,0,96,465v23H416V464a16,16,0,0,0-16-16h0c0-63.959-36.794-120.9-94.051-157.507C280.79,274.407,280.79,237.593,305.949,221.507ZM271.08,256a56.68,56.68,0,0,0,26.25,47.973C352.41,339.188,384,391.685,384,448H128c0-56.315,31.59-108.812,86.67-144.027a56.961,56.961,0,0,0,0-95.946C159.59,172.812,128,120.315,128,64H384c0,56.315-31.59,108.812-86.67,144.027A56.68,56.68,0,0,0,271.08,256Z')
            path(d='M256,287.487a7.5,7.5,0,0,0,7.5-7.5V272a7.5,7.5,0,0,0-15,0v7.987A7.5,7.5,0,0,0,256,287.487Z')
            path(d='M248.5,319.987a7.5,7.5,0,1,0,15,0V312a7.5,7.5,0,0,0-15,0Z')
        symbol#icon-notebook(viewBox='0 0 512 512', fill='currentColor')
          g
            g
              path(d='M39.822,59.733v295.822h432.355V59.733H39.822z M432.355,298.666H79.644V99.555h352.711V298.666z')
          g
            g
              path(d='M312.889,384v28.444H199.111V384H0v11.378c0,31.289,25.6,56.889,56.889,56.889h398.222\
              c31.289,0,56.889-25.6,56.889-56.889V384H312.889z')
        symbol#icon-configuration(viewBox='0 0 376.846 376.846', fill='currentColor')
          g
            path(d='M364.966,372.743c2.382-2.39,4.316-4.324,4.316-4.324l4.316-4.324\
            c2.382-2.398-1.691-13.453-9.104-24.695l-19.013-28.865c-7.413-11.242-19.127-21.565-26.174-23.044\
            c-7.047-1.488-12.762-2.691-12.762-2.691l-57.298-57.274L228.389,248.4l57.25,57.282l2.707,12.762\
            c1.488,7.039,11.819,18.769,23.061,26.174l28.881,19.037C351.529,371.06,362.584,375.133,364.966,372.743z')
            path(d='M13.608,74.197l85.139,85.139l10.632,10.608c0.244,0.26,0.48,0.398,0.715,0.642l14.062-14.071\
            L23.728,56.086c-2.447-2.422-2.447-6.397,0-8.795c2.422-2.455,6.34-2.455,8.795,0l100.396,100.453l15.664-15.696L48.154,31.635\
            c-2.455-2.43-2.455-6.365,0-8.795c2.422-2.422,6.365-2.422,8.763,0l100.477,100.477l14.038-14.087\
            c-0.211-0.244-0.366-0.504-0.585-0.74l-11.161-11.177l-84.594-84.57c-16.972-17.005-44.52-16.981-61.485,0\
            C-3.389,29.709-3.389,57.224,13.608,74.197z')
            path(d='M375.728,81.651c-1.024-13.428-12.892-16.038-22.41-6.519l-33.262,33.27\
            c-7.722,7.779-20.378,7.755-28.125,0l-21.549-21.524c-7.803-7.844-7.779-20.46-0.024-28.247l34.392-34.359\
            c9.527-9.519,7.112-21.817-6.259-23.41c-25.865-3.089-52.82,5.275-72.678,25.117c-15.127,15.152-23.573,34.473-25.361,54.258\
            c-0.715,7.999-0.341,16.07,1.097,24.004L16.965,288.84c-9.746,9.754-15.127,22.703-15.127,36.497\
            c0,13.762,5.381,26.694,15.103,36.432c20.11,20.102,52.819,20.102,72.962,0c0,0,132.683-132.666,186.413-186.461\
            c8.446,1.154,16.997,1.073,25.41-0.26c17.769-2.78,34.847-10.925,48.56-24.613C369.152,131.568,377.614,106.296,375.728,81.651z\
            M70.857,345.91c-10.551,10.494-27.523,10.494-38.042-0.024c-10.47-10.445-10.494-27.499,0.024-37.969\
            c10.494-10.47,27.466-10.445,37.985,0C81.295,318.387,81.295,335.441,70.857,345.91z')
        symbol#icon-telegram(viewBox='0 0 300 300', fill='currentColor')
          g#XMLID_496_
            path#XMLID_497_(d='M5.299,144.645l69.126,25.8l26.756,86.047c1.712,5.511,8.451,7.548,12.924,3.891l38.532-31.412\
            c4.039-3.291,9.792-3.455,14.013-0.391l69.498,50.457c4.785,3.478,11.564,0.856,12.764-4.926L299.823,29.22\
            c1.31-6.316-4.896-11.585-10.91-9.259L5.218,129.402C-1.783,132.102-1.722,142.014,5.299,144.645z M96.869,156.711l135.098-83.207\
            c2.428-1.491,4.926,1.792,2.841,3.726L123.313,180.87c-3.919,3.648-6.447,8.53-7.163,13.829l-3.798,28.146\
            c-0.503,3.758-5.782,4.131-6.819,0.494l-14.607-51.325C89.253,166.16,91.691,159.907,96.869,156.711z')
        symbol#icon-equalizer(viewBox='0 0 512 512', fill='currentColor')
          g
            path(d='m0 31h60v150h-60z')
            path(d='m452 331h60v150h-60z')
            path(d='m226 181h60v150h-60z')
            path(d='m45 301h151v-90h-151c-24.814 0-45 20.186-45 45s20.186 45 45 45z')
            path(d='m467 211h-151v90h151c24.814 0 45-20.186 45-45s-20.186-45-45-45z')
            path(d='m467 61h-377v90h377c24.814 0 45-20.186 45-45s-20.186-45-45-45z')
            path(d='m45 451h377v-90h-377c-24.814 0-45 20.186-45 45s20.186 45 45 45z')
        symbol#icon-checked(viewBox='0 0 408.576 408.576', fill='currentColor')
          g
            g
              path(d='M204.288,0C91.648,0,0,91.648,0,204.288s91.648,204.288,204.288,204.288s204.288-91.648,204.288-204.288\
              S316.928,0,204.288,0z M318.464,150.528l-130.56,129.536c-7.68,7.68-19.968,8.192-28.16,0.512L90.624,217.6\
              c-8.192-7.68-8.704-20.48-1.536-28.672c7.68-8.192,20.48-8.704,28.672-1.024l54.784,50.176L289.28,121.344\
              c8.192-8.192,20.992-8.192,29.184,0C326.656,129.536,326.656,142.336,318.464,150.528z')
        symbol#icon-link(viewBox='0 0 515.556 515.556', fill='currentColor')
          path(d='m392.189 0c-32.946 0-63.926 12.839-87.227 36.14l-96.067 96.067c7.342-1.025 14.677-2.138 22.182-2.138 20.693 0 40.97 4.02 59.611 11.474l59.839-59.839c11.139-11.124 25.929-17.26 41.662-17.26 32.49 0 58.922 26.432 58.922 58.922 0 15.734-6.136 30.523-17.26 41.662l-107.71 107.712c-22.279 22.247-61.046 22.263-83.325.016l-45.533 45.596c23.286 23.27 54.265 36.093 87.195 36.093 32.946 0 63.925-12.839 87.227-36.14l107.712-107.712c23.301-23.301 36.14-54.281 36.14-87.227-.001-68.031-55.336-123.366-123.368-123.366z')
          path(d='m224.303 374.578-59.274 59.274c-11.139 11.124-25.929 17.26-41.662 17.26-32.49 0-58.922-26.432-58.922-58.922 0-15.733 6.136-30.523 17.26-41.662l107.712-107.712c22.279-22.247 61.046-22.263 83.325-.016l45.533-45.596c-46.587-46.54-127.819-46.555-174.422.047l-107.713 107.712c-23.302 23.301-36.14 54.28-36.14 87.226 0 68.032 55.335 123.366 123.366 123.366 32.946 0 63.925-12.839 87.227-36.14l94.792-94.792c-6.921.93-13.806 2.043-20.908 2.043-21.012.001-41.363-4.2-60.174-12.088z')
        symbol#icon-add(viewBox='0 0 448 448', fill='currentColor')
          path(d='m272 184c-4.417969 0-8-3.582031-8-8v-176h-80v176c0 4.417969-3.582031 8-8 8h-176v80h176c4.417969 0 8 3.582031 8 8v176h80v-176c0-4.417969 3.582031-8 8-8h176v-80zm0 0')
        symbol#icon-case(viewBox='0 0 31.961 31.961', fill='currentColor')
          g
            path(d='M29.759,8.36h-8.501V7.295c0-4.535-4.301-4.269-4.301-4.269h-2.034\
            c-4.533,0-4.299,4.301-4.299,4.301V8.36H2.09C-0.079,8.36,0,10.494,0,10.494v4.169c0,0,9.101,3.312,15.914,3.312\
            c7.444,0,16.045-3.344,16.045-3.344v-4.137C31.959,8.26,29.759,8.36,29.759,8.36z M13.494,7.206c0-2.134,2.505-2.167,2.505-2.167\
            c2.543,0,2.465,2.2,2.465,2.2v1.068h-4.97C13.494,8.307,13.494,7.206,13.494,7.206z M18.624,17.182l-5.287,0.003v-2.038h5.287\
            V17.182z')
            path(d='M31.959,26.803V16.169c0,0-6.924,3.188-16.092,3.188C7.434,19.357,0,16.069,0,16.069v10.734\
            c0,2.167,2.056,2.134,2.056,2.134h27.736C32.092,28.938,31.959,26.803,31.959,26.803z M18.624,21.18\
            c0,0.731-0.591,1.323-1.32,1.323h-2.646c-0.73,0-1.321-0.592-1.321-1.323v-1.364h5.287V21.18z')
        symbol#icon-user(viewBox='0 0 350 350', fill='currentColor')
          g
            path(d='M175,171.173c38.914,0,70.463-38.318,70.463-85.586C245.463,38.318,235.105,0,175,0s-70.465,38.318-70.465,85.587\
            C104.535,132.855,136.084,171.173,175,171.173z')
            path(d='M41.909,301.853C41.897,298.971,41.885,301.041,41.909,301.853L41.909,301.853z')
            path(d='M308.085,304.104C308.123,303.315,308.098,298.63,308.085,304.104L308.085,304.104z')
            path(d='M307.935,298.397c-1.305-82.342-12.059-105.805-94.352-120.657c0,0-11.584,14.761-38.584,14.761\
            s-38.586-14.761-38.586-14.761c-81.395,14.69-92.803,37.805-94.303,117.982c-0.123,6.547-0.18,6.891-0.202,6.131\
            c0.005,1.424,0.011,4.058,0.011,8.651c0,0,19.592,39.496,133.08,39.496c113.486,0,133.08-39.496,133.08-39.496\
            c0-2.951,0.002-5.003,0.005-6.399C308.062,304.575,308.018,303.664,307.935,298.397z')
        symbol#icon-shop(viewBox='0 -31 512.00033 512', fill='currentColor')
          path(d='m166 300.003906h271.003906c6.710938 0 12.597656-4.4375 14.414063-10.882812l60.003906-210.003906c1.289063-4.527344.40625-9.390626-2.433594-13.152344-2.84375-3.75-7.265625-5.964844-11.984375-5.964844h-365.632812l-10.722656-48.25c-1.523438-6.871094-7.617188-11.75-14.648438-11.75h-91c-8.289062 0-15 6.710938-15 15 0 8.292969 6.710938 15 15 15h78.960938l54.167968 243.75c-15.9375 6.929688-27.128906 22.792969-27.128906 41.253906 0 24.8125 20.1875 45 45 45h271.003906c8.292969 0 15-6.707031 15-15 0-8.289062-6.707031-15-15-15h-271.003906c-8.261719 0-15-6.722656-15-15s6.738281-15 15-15zm0 0')
          path(d='m151 405.003906c0 24.816406 20.1875 45 45.003906 45 24.8125 0 45-20.183594 45-45 0-24.8125-20.1875-45-45-45-24.816406 0-45.003906 20.1875-45.003906 45zm0 0')
          path(d='m362.003906 405.003906c0 24.816406 20.1875 45 45 45 24.816406 0 45-20.183594 45-45 0-24.8125-20.183594-45-45-45-24.8125 0-45 20.1875-45 45zm0 0')
        symbol#icon-location(viewBox='0 0 512 512', fill='currentColor')
          g
            g
              path(d='M256,0C161.896,0,85.333,76.563,85.333,170.667c0,28.25,7.063,56.26,20.49,81.104L246.667,506.5\
              c1.875,3.396,5.448,5.5,9.333,5.5s7.458-2.104,9.333-5.5l140.896-254.813c13.375-24.76,20.438-52.771,20.438-81.021\
              C426.667,76.563,350.104,0,256,0z M256,256c-47.052,0-85.333-38.281-85.333-85.333c0-47.052,38.281-85.333,85.333-85.333\
              s85.333,38.281,85.333,85.333C341.333,217.719,303.052,256,256,256z')
        symbol#icon-quotes(viewBox='0 0 95.333 95.332', fill='currentColor')
          g
            g
              path(d='M30.512,43.939c-2.348-0.676-4.696-1.019-6.98-1.019c-3.527,0-6.47,0.806-8.752,1.793\
              c2.2-8.054,7.485-21.951,18.013-23.516c0.975-0.145,1.774-0.85,2.04-1.799l2.301-8.23c0.194-0.696,0.079-1.441-0.318-2.045\
              s-1.035-1.007-1.75-1.105c-0.777-0.106-1.569-0.16-2.354-0.16c-12.637,0-25.152,13.19-30.433,32.076\
              c-3.1,11.08-4.009,27.738,3.627,38.223c4.273,5.867,10.507,9,18.529,9.313c0.033,0.001,0.065,0.002,0.098,0.002\
              c9.898,0,18.675-6.666,21.345-16.209c1.595-5.705,0.874-11.688-2.032-16.851C40.971,49.307,36.236,45.586,30.512,43.939z')
              path(d='M92.471,54.413c-2.875-5.106-7.61-8.827-13.334-10.474c-2.348-0.676-4.696-1.019-6.979-1.019\
              c-3.527,0-6.471,0.806-8.753,1.793c2.2-8.054,7.485-21.951,18.014-23.516c0.975-0.145,1.773-0.85,2.04-1.799l2.301-8.23\
              c0.194-0.696,0.079-1.441-0.318-2.045c-0.396-0.604-1.034-1.007-1.75-1.105c-0.776-0.106-1.568-0.16-2.354-0.16\
              c-12.637,0-25.152,13.19-30.434,32.076c-3.099,11.08-4.008,27.738,3.629,38.225c4.272,5.866,10.507,9,18.528,9.312\
              c0.033,0.001,0.065,0.002,0.099,0.002c9.897,0,18.675-6.666,21.345-16.209C96.098,65.559,95.376,59.575,92.471,54.413z')
        symbol#icon-arrow-left(viewBox='0 0 492 492', fill='currentColor')
          g
            g
              path(d='M198.608,246.104L382.664,62.04c5.068-5.056,7.856-11.816,7.856-19.024c0-7.212-2.788-13.968-7.856-19.032l-16.128-16.12\
              C361.476,2.792,354.712,0,347.504,0s-13.964,2.792-19.028,7.864L109.328,227.008c-5.084,5.08-7.868,11.868-7.848,19.084\
              c-0.02,7.248,2.76,14.028,7.848,19.112l218.944,218.932c5.064,5.072,11.82,7.864,19.032,7.864c7.208,0,13.964-2.792,19.032-7.864\
              l16.124-16.12c10.492-10.492,10.492-27.572,0-38.06L198.608,246.104z')
        symbol#icon-arrow-right(viewBox='0 0 492.004 492.004', fill='currentColor')
          g
            g
              path(d='M382.678,226.804L163.73,7.86C158.666,2.792,151.906,0,144.698,0s-13.968,2.792-19.032,7.86l-16.124,16.12\
              c-10.492,10.504-10.492,27.576,0,38.064L293.398,245.9l-184.06,184.06c-5.064,5.068-7.86,11.824-7.86,19.028\
              c0,7.212,2.796,13.968,7.86,19.04l16.124,16.116c5.068,5.068,11.824,7.86,19.032,7.86s13.968-2.792,19.032-7.86L382.678,265\
              c5.076-5.084,7.864-11.872,7.848-19.088C390.542,238.668,387.754,231.884,382.678,226.804z')
        symbol#icon-facebook(viewBox='0 0 24 24', fill='currentColor')
          path(d='m15.997 3.985h2.191v-3.816c-.378-.052-1.678-.169-3.192-.169-3.159 0-5.323 1.987-5.323 5.639v3.361h-3.486v4.266h3.486v10.734h4.274v-10.733h3.345l.531-4.266h-3.877v-2.939c.001-1.233.333-2.077 2.051-2.077z')
        symbol#icon-twitter(viewBox='0 0 512 512', fill='currentColor')
          g
            g
              path(d='M512,97.248c-19.04,8.352-39.328,13.888-60.48,16.576c21.76-12.992,38.368-33.408,46.176-58.016\
              c-20.288,12.096-42.688,20.64-66.56,25.408C411.872,60.704,384.416,48,354.464,48c-58.112,0-104.896,47.168-104.896,104.992\
              c0,8.32,0.704,16.32,2.432,23.936c-87.264-4.256-164.48-46.08-216.352-109.792c-9.056,15.712-14.368,33.696-14.368,53.056\
              c0,36.352,18.72,68.576,46.624,87.232c-16.864-0.32-33.408-5.216-47.424-12.928c0,0.32,0,0.736,0,1.152\
              c0,51.008,36.384,93.376,84.096,103.136c-8.544,2.336-17.856,3.456-27.52,3.456c-6.72,0-13.504-0.384-19.872-1.792\
              c13.6,41.568,52.192,72.128,98.08,73.12c-35.712,27.936-81.056,44.768-130.144,44.768c-8.608,0-16.864-0.384-25.12-1.44\
              C46.496,446.88,101.6,464,161.024,464c193.152,0,298.752-160,298.752-298.688c0-4.64-0.16-9.12-0.384-13.568\
              C480.224,136.96,497.728,118.496,512,97.248z')
        symbol#icon-skype(viewBox='0 0 24 24', fill='currentColor')
          path(d='m23.309 14.547c1.738-7.81-5.104-14.905-13.139-13.543-4.362-2.707-10.17.352-10.17 5.542 0 1.207.333 2.337.912 3.311-1.615 7.828 5.283 14.821 13.311 13.366 5.675 3.001 11.946-2.984 9.086-8.676zm-7.638 4.71c-2.108.867-5.577.872-7.676-.227-2.993-1.596-3.525-5.189-.943-5.189 1.946 0 1.33 2.269 3.295 3.194.902.417 2.841.46 3.968-.3 1.113-.745 1.011-1.917.406-2.477-1.603-1.48-6.19-.892-8.287-3.483-.911-1.124-1.083-3.107.037-4.545 1.952-2.512 7.68-2.665 10.143-.768 2.274 1.76 1.66 4.096-.175 4.096-2.207 0-1.047-2.888-4.61-2.888-2.583 0-3.599 1.837-1.78 2.731 2.466 1.225 8.75.816 8.75 5.603-.005 1.992-1.226 3.477-3.128 4.253z')
        symbol#icon-vimeo(viewBox='0 0 512.011 512.011', fill='currentColor')
          g
            g
              path(d='M293.792,152.808c58.304-35.008,89.728,14.336,59.84,70.112c-29.952,56-57.44,92.512-71.68,92.512\
              c-13.984,0-25.056-37.568-41.44-102.784c-16.8-67.552-16.8-189.344-87.072-175.52C87.008,50.248,0,154.248,0,154.248\
              l20.672,27.232c0,0,42.88-33.824,57.152-16.992c14.464,16.992,69.216,221.024,87.328,258.752\
              c15.808,33.056,59.68,76.672,107.616,45.568c48.384-31.296,208.096-167.68,236.704-329.056\
              C538.016-21.336,316.96,12.392,293.792,152.808z')
        symbol#icon-menu(viewBox='0 0 512 512', fill='currentColor')
          g
            g
              path(d='M467,61H165c-24.82,0-45,20.19-45,45c0,24.82,20.18,45,45,45h302c24.81,0,45-20.18,45-45C512,81.19,491.81,61,467,61z')
          g
            g
              path(d='M467,211H165c-24.82,0-45,20.19-45,45c0,24.82,20.18,45,45,45h302c24.81,0,45-20.18,45-45C512,231.19,491.81,211,467,211z\
              ')
          g
            g
              path(d='M467,361H165c-24.82,0-45,20.19-45,45c0,24.82,20.18,45,45,45h302c24.81,0,45-20.18,45-45C512,381.19,491.81,361,467,361z\
              ')
          g
            g
              path(d='M45,61C20.18,61,0,81.19,0,106c0,24.82,20.18,45,45,45c24.81,0,45-20.18,45-45C90,81.19,69.81,61,45,61z')
          g
            g
              path(d='M45,211c-24.82,0-45,20.19-45,45c0,24.82,20.18,45,45,45c24.81,0,45-20.18,45-45C90,231.19,69.81,211,45,211z')
          g
            g
              path(d='M45,361c-24.82,0-45,20.19-45,45c0,24.82,20.18,45,45,45c24.81,0,45-20.18,45-45C90,381.19,69.81,361,45,361z')  

    block content

    +script('https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js')
    +script('https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js')
    +script('https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js')
    +script('https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js')
    +script('https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js')
    +script('https://api-maps.yandex.ru/2.1/?lang=ru_RU&amp;apikey=90595d12-fe44-405d-87ab-cb746cd69a1b')
    +script('https://cdn.jsdelivr.net/gh/remox112358/SkyTabs@0.1.3/SkyTabs.js')
    
    block footerScripts
    
    +assets('js', 'script')