.section--contact
  overflow: hidden

  .section__heading
    width: fit-content

  #map
    height: 100%

  .col--form
    max-width: 550px

    .contact
      input,
      textarea
        font-size: 14px
        font-weight: 300

        padding: 15px

        border: 1px solid #dce6e4
        border-radius: 0

        resize: none

        background: none

        &::placeholder
          color: #90aebd

      [type="submit"]
        width: 100%