.filters
  display: flex
  flex-direction: row
  align-items: center

  @media screen and (max-width: $breakpoint--sm)
    flex-wrap: wrap
    justify-content: center
  
  &--work
    width: fit-content

    margin: 0 auto 70px auto

  .filter
    display: flex
    align-items: center
    justify-content: center
    
    text-transform: capitalize
    text-align: center

    cursor: pointer

    padding: 0 15px

    min-width: 75px
    height: 60px

    user-select: none

    outline: 1px solid #ebebeb

    color: $color--text
    background-color: #fff

    transition: background-color $transition--button

    @media screen and (max-width: $breakpoint--sm)
      font-size: 12px

      padding: 0 10px

      min-width: 60px
      height: 50px

    &:hover
      background-color: darken(#fff, 5%)

    &.active
      position: relative

      color: $color--primary

      &::after
        content: ''

        position: absolute
        top: -2px

        width: calc(100% + 2px)
        height: 2px

        background-color: $color--primary